@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

ul {
    display: inline-block;
    border: 1px solid #c5c5c5;
    padding: 10px;
    
}

li {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    padding: 5px;
    width: 20px;
    height: 20px;
    background-color: #e9e9e9;
    text-align: center;
    list-style-type: none;
    border-radius: 50%;
    
}

li:first-child {
    margin-left: unset;
}

a {
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 8px;
    text-decoration: none;
    color: black;
}

a#fb:hover {
    color: #4545ac;
}

a#tw:hover {
    color: #5656ff;
}

a#go:hover {
    color: #b42116;
}

a#li:hover {
    color: #4242ae;
}

a#in:hover {
    color: #7d8285;
}