body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

.nav ul {
    margin: 0px;
    padding: 0px;
    background-color: #444;
    text-align: center;
    list-style: none;
}

    .nav ul li {
        padding: 20px;
        display: inline-block;
        font-size: 24px;
        line-height: 40px;
        height: 40px;
    }

        .nav ul li a {
            text-decoration: none;
            color: #ffffff;
        }

.section {
    margin-left: 20px;
}

    .article > p {
        font-size: 24px;
    }

    .article .header p {
        font-style: italic;
    }

    .article .header h1 {
        font-size: 28px;
    }

.footer {
    padding: 10px;
    background-color: #444;
    color: #fff;
    text-align: center;
}