h1 {
    font-size: 42px;
    color: red;
}

#secondaryTitle {
    background-color: black;
    color: white;
}

.text {
    font-size: 21px;
}

.text.mainParagraph {
    color: blueviolet;
}

#main {
    background-color: greenyellow;
}

.item {
    color: blue;
}

/* .item .nestedList li - as a selector it means: search nested element/s with class 'nestedList' within element/s
with class 'item', then in those elements search for a nested element 'li' */

/* .item.nestedList.anotherClass - as a selector it means: search for an element with the class 'item' and the class 'nestedList'
and the class 'anotherClass'*/

.item .nestedList li{
    color: red;
}