.block {
  background-color: plum;
  padding: 10px 10px 10px 10px;
  margin: 80px 20px;

  border: 3px solid black;
  border-top-right-radius: 16px;
}

.inline {
  background-color: pink;
  padding: 0px 3px;
  margin: 20px;
  border: 1px solid black;
}

.iblock {
  display: inline-block;
  background-color: lightsalmon;
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(78, 36, 213);
}


