#text-f {
    color: blue;
  }
  
  .lorem {
    font-size: 21px;
    color: red;
  }
  
  .lorem.text-2 {
    color: green;
  }
  
  
  /* .unordered .ul-item {
    color: green;
  }
  .ordered .ol-item {
    color: blue;
  } */
  
  .btn {
    background-color: pink;
  }
  Footer
  © 2023 GitHub, Inc.
  Footer navigation
  Terms
  Privacy
  Security
  Status
  Docs
  Contact GitHub
  Pricing
  API
  Training
  Blog
  About
  