* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0px; /* It is needed to take out the little space that appears at the bottom of the page! */
}

h1 {
    text-align: center;
}

.hero {
    position: relative;
    background-color: orange;
    width: 100vw;
    height: 100vh; /* viewport height */
}

/* .hero img {
    width: 20vw;
    height: 20vw;
} */

.hero .hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #848484; */
    text-shadow: 0px 0px 3px #3c3c3c;

    text-align: center;
}

.hero .hero__title {
    margin: 0px;
    padding-bottom: 10px;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    font-size: 3rem;
    line-height: 1;
    color: white;

    /* transform: translate(-50%, -50%); */
}

.hero__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero__subtitle {
    margin: 0px;
    /* position: absolute;
    top: 55%;
    left: 50%; */
    font-size: 2rem;
    line-height: 1;
    color: white;

    /* transform: translate(-50%, -50%); */
}

.hero .hero__comments {
    margin: 0px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgb(0, 0, 0, 0.3);
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    border: 5px solid #848484;
    border-radius: 6px;
}