* {
    box-sizing: border-box;
}

section {
    position: absolute;
    top: 250px;
    left: 180px;
}

div {
    position: relative;
    top: -50px;
    left: 8px;
}

h3 {
    margin: 0px;
    font-size: 16px;
}

span {
    padding-left: 3px;
    font-size: 14px;
    color: gray;
}