html {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    max-width: 15vw;
    height: 35rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

span {
    padding: 10px;
    border: 1px solid black;
    width: 70px;
    text-align: center;
}

#S {
    order: 0;
}

#e {
    order: 1;
}

#m {
    order: 2;
}

#a {
    order: 3;
}

#n {
    order: 4;
}

#t {
    order: 5;
}

#i {
    order: 6;
}

#c {
    order: 7;
}

#H {
    order: 8;
}

#T {
    order: 9;
}

#M {
    order: 10;
}

#L {
    order: 11;
}