table {
    margin: 20px;
    padding: 30px;
    border: 10px solid #217f92;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
}

table th {
    padding: 10px;
    background-color: bisque;
    text-align: center;
}

table td {
    padding: 20px;
    background-color: aqua;
    text-align: center;
}