.grid-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(6, 100px);
  grid-template-areas:
    "head head head head head head"
    "side . content content content content"
    "side . content content content content"
    "side . content content content content"
    "side . content content content content"
    "foot foot foot foot foot foot";
}

.header {
    grid-area: head;
    background-color: lightsalmon;
}

.sidebar {
    grid-area: side;
    background-color: lightcoral;
}

.content {
    grid-area: content;
    background-color: lightblue;
}

.footer {
    grid-area: foot;
    background-color: lightgreen;
}

div {
    font-size: 24px;
    text-align: center;
    vertical-align:bottom;
}
