@media screen and (max-width: 600px) {
    .home-container {
    padding-top: 0px;
    }

    body > div > div > div.home-main > div.home-hero.section-container {
        margin-top: 45px;
    }

    body > div > div > div.home-navbar > header > div > div.home-middle > div.home-left,
    body > div > div > div.home-navbar > header > div > div.home-middle > div.home-right,
    body > div > div > div.home-navbar > header > div > div.home-container01 {
        display: none;
    }

    .home-navbar {
        align-items: flex-start;
    }

    body > div > div > div.home-navbar > header {
        padding: 10px 2px 12px;
    }

    body > div > div > div.home-navbar > header > div > div.home-middle > span {
        margin-left: 5px;
    }

    /* section 1 */
    body > div > div > div.home-main > div.home-hero.section-container > div > div {
        flex-direction: column;
    }

    body > div > div > div.home-main > div.home-hero.section-container > div > div > div {
        align-items: center;
    }

    /* section 2 */
    body > div > div > div.home-main > div.home-full-width-banner.section-container > div {
        margin-top: -50px;
    }

    body > div > div > div.home-main > div.section-container.column > div:nth-child(1) > div.home-cards-container {
        gap: 15px;
    }

    .category-card-category-card img {
        width: 263px;
        height: 263px;
    }
    
    /* section 3 */
    body > div > div > div.home-main > div.home-full-width-banner.section-container {
        flex-direction: column;
    }

    body > div > div > div.home-main > div.home-full-width-banner.section-container > div {
        padding: 30px 0;
    }

    body > div > div > div.home-main > div.home-full-width-banner.section-container > img {
        width: 100%;
    }

    body > div > div > div.home-main > div:nth-child(4) > div > div.section-heading-section-heading.section-heading-root-class-name {
        margin-bottom: 75px;
    }

    .blog-post-card-blog-post-card {
        max-width: 100%;
    }

    /* section 4 */

    body > div > div > div.home-footer > div > footer {
        flex-direction: column-reverse;
    }

    body > div > div > div.home-footer > div > footer > div.home-links-container {
        flex-direction: column;
    }

    body > div > div > div.home-footer > div > footer {
        padding-bottom: 0px;
    }
}