body {
    background-color:  #f9f7cf;
    padding: 15px;
}

.header, .footer {
    width: 480px;
    padding: 5px 15px;
    background-color: #f2dcbb;
}

.main {
    width: 480px;
    background-color:  #f9f7cf;
}
