div {
    display: inline-block;
    margin-top: 20px;
    padding: 16px 16px 16px 32px;
    width: 280px;
    background-color: #0A2C48;
    color: #fff;
    border-radius: 4px;
}

div:hover {
    background-color:  #2A4C68;
    transition: all 300ms;
}

p {
    color: #c9d6ff;
    font-size: 18px;
}

