* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    /* background-color: #333333; */
    background-image: url(https://images.unsplash.com/photo-1630512874316-88dcd1925237?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8dmVsdmV0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60;);
    background-size: cover;
    color: white;
}

h1 {
    position: relative;
    margin: 50px 50px 35px auto;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    font-style: italic;
    color: #000000;
    text-shadow: 1px -1px 1px #7d7d7d;
    
}

.container {
    padding: 15px;
    background-color: #333333;
    border: 5px solid #28c85f;
    /* border-radius: 100px; */
    overflow: hidden;

    width: 100vw;
    /* height: 100vh; */

    display: flex;
    gap: 15px;
    justify-content: center;

    flex-wrap: wrap;
    /* align-content: center; */

    /* align-items: baseline; */
}

    .item {
        /* padding: 50px; */
        min-width: 100px;
        max-width: 200px;
        aspect-ratio: 2/3;
        background-color: #3b473f;
        border: 0.5rem solid #5c5c5c;
        border-radius: 1em;
        color: white;
        overflow: hidden;

        flex: 1 4 30px;
    }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

.container-2 {
    padding: 15px;
    background-color: #333333;
    border: 5px solid #28c85f;
    /* border-radius: 100px; */

    overflow: hidden;

    width:auto;
    /* height: 100vh; */

    display: flex;
    gap: 15px;
    justify-content: center;

    flex-wrap: wrap;
    /* align-content: center; */

    /* align-items: baseline; */
}